<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script th:inline="javascript">
		layui.use(['element','form','layer'], function(){
			var element = layui.element;
			var form = layui.form;
			var $ = layui.$;
			var sid = [[${status.id}]];
			$('*[name=loc]').click(function () {
				var cid = $(this).attr("value");
				var select_url = "/add_travel_city";
				var unselect_url = "/unselect_city";
				var data = {sid:sid,cid:cid};
				$.ajax({
					type : "post",
					async : false,  //同步请求
					url : select_url,
					data : data,
					timeout:1000,
					success:function(dates){
						//加载层-风格2
						layer.load(1);
						//此处演示关闭
						setTimeout(function(){
							layer.closeAll('loading');
						}, 1000);
						$("#select").html(dates);//要刷新的div
					},
					error: function() {
						// alert("失败，请稍后再试！");
					}
				});
				
				$.ajax({
					type : "post",
					async : false,  //同步请求
					url : unselect_url,
					data : data,
					timeout:1000,
					success:function(dates){
						//加载层-风格2
						layer.load(1);
						//此处演示关闭
						setTimeout(function(){
							layer.closeAll('loading');
						}, 1000);
						$("#unselect").html(dates);//要刷新的div
					},
					error: function() {
						// alert("失败，请稍后再试！");
					}
				});
			});
			
		});
	</script>
</head>
<body>
<div class="layui-tab layui-tab-brief">
	<ul class="layui-tab-title">
		<li class="layui-this">推荐城市</li>
		<li>国内 · 国外</li>
		<li>查看地图</li>
		<li>行程编辑</li>
	</ul>
	<div class="layui-tab-content">
		<div class="layui-tab-item layui-show">
			<div class="ui link cards" id="contentor" >
				<div class="ui card" style="width:236px" th:each="city : ${cities}" >
					<div class="image">
						<img th:src="@{semantic/images/img.jpg}">
					</div>
					<div class="content">
						<div class="header"> <p th:text="${city.city}+ '·' +${city.province}">北京·中国</p></div>
						<div class="meta">
							<a th:text="${city.introduction}"></a>
						</div>
					</div>
					<div class="extra content">
						<span>
							<i class="user icon"></i>
							<a th:text="${city.wantToGo}+人想去" >75人想去</a>
						</span>
					</div>
					<div  th:name="'loc'"  class="ui bottom attached button" th:value="${city.id}" ><i class="add icon"></i> 添加</div>
				</div>
			</div>
		</div>
		<div class="layui-tab-item">内容2</div>
		<div class="layui-tab-item">内容4</div>
		<div class="layui-tab-item">内容5</div>
	</div>
</div>
</body>
</html>